body{
  background-image: linear-gradient(0deg, rgba(10,10,10,0.2), rgba(10,10,10,0.2)), url("/img/fondo.png"); 
}

h1 {
  color: #0f5c4b;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #0f5c4b;
  border: none;
}

.btn-primary:hover {
  background-color: #001f3f;
}

.form-group{
  margin: auto;
  padding: 0;
}


/*+++++++++++++++++++++   mensaje   ++++++++++++++++++*/

/* Estilos personalizados para el chat */
.chat-container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid greenyellow;
}

.configurar-chat {
  background-color: #0f5c4b;
  margin: 0;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.message-left {
  background-color: #a5eb71;
  text-align: left;
  margin-right: auto;
}

.message-right {
  background-color: #e58518;
  text-align: right;
  color: white;
  margin-left: auto;
}
.message-body {
  word-wrap: break-word; /* Romper palabras largas */
}

#lista-mensajes {
  height: 400px;
}

#mensaje {
  height: 40px; /* Altura fija para el textarea */
  position: absolute;
  bottom: 0;
  width: calc(
    100% - 50px
  ); /* El ancho del textarea es menos el ancho del botón/icono */
  padding-right: 60px; /* Espacio a la derecha para el botón/icono */
}

.rounded-circle {
  border: 3px solid green;
  margin: 10px;
  height: 70px;
}