<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <!-- Agrega las siguientes líneas para incluir los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Agrega la referencia a jQuery (necesario para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Agrega el archivo Popper.js (necesario para Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <!-- Agrega los scripts de Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Enlaza tu archivo CSS personalizado (si lo tienes) -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Inicio de Sesión</h1>
        <img src="/img/img_login.png" alt="Imagen de perfil" class="rounded-circle mx-auto d-block">
        <hr>
        <form action="/matriculas" method="post">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" name="contrasena" required>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
</body>

</html>

